.navbar{
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.logo{
    font-family: Pacifico, cursive;
    padding: 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--main-txt-color);
}.logo:hover{
    color: var(--main-ui-color);
}

.navbar-link-cont{
    display: flex;
    flex-direction: row;
}

.navbar-link{
    display: flex;
    padding: 1.5rem;
    align-items: center;
    color: var(--main-txt-color);
}
.navbar-link > a{
    text-decoration: none;
    color: var(--main-txt-color);
}.navbar-link > a:hover{
    border-bottom: 3px solid var(--main-ui-color);
}

@media screen and (width <= 900px) {
    .navbar-link-cont{
        display: none;
    }
}