/* WORKS BANNER */
.works-banner{
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 4rem 0;
}

.works-banner-txt{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
}


/* WORKS GALLERY */
.works-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: min-content;
    gap: 0px;
}

.works-gallery article{
    display: block;
    break-inside: avoid;
}

.works-gallery img{
    width: 100%;
    height: auto;
    display: block;
}

.works img:hover{
    transition: all .2s ease;
    opacity: .5;
}